version: '3'

services:
  postgres1:
    build: ./postgres1
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "15432:5432"
    volumes:
      - ./postgres1/pgdata:/var/lib/postgresql/data

  postgres2:
    build: ./postgres2
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "25432:5432"
    volumes:
      - ./postgres2/pgdata:/var/lib/postgresql/data