version: "3"
services:
  sql-server:
    image: mcr.microsoft.com/mssql/server:2019-latest
    user: root
    hostname: sql-server
    container_name: sql-server
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_PID=Express
      - SA_PASSWORD=sa
    volumes:
      - ./data:/var/opt/mssql/data
